<% provide(:title, "New Post") %>
<h1>New Post</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_with scope: :micropost, url: new_micropost_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

